
.hoverUnderline {
    display: inline-block;
    position: relative;
  }
  
  .hoverUnderline::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.50s ease-out;
  }
  
  .hoverUnderline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }




.navbar {
    height: 10vh;
    margin: 0 10rem;
    display: flex;
    justify-content: space-between;
    
    .sidebtns{
        display: flex;
        // flex-direction: column;

        p {
            margin-right: 2rem;
        }
    }
}



.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;

    h1 {
        font-size: 500%;
        // font-weight: 500;
    }

    h2 {
        font-size: 200%;
        margin-top: -1rem;
        color: rgb(227, 51, 51);
        // color: rgb(182, 182, 182);
    }
}



.about {
    height: 100vh;
    margin: 0 10rem;
    
    p {
        margin-top: 4rem;
        width: 80%;
        font-size: 180%;
        line-height: 2.4rem;
    }
}



.projects {
    margin: 0 10rem;
    
    h2 {
        margin-bottom: 4rem;
        
    }

    .block {
        display: flex;
        height: 100vh;
        // flex-direction: column;
        gap: 8rem;

        .image {
            width: 100%;
            height: 390px;
        }
        
        .text {}

        h3{
            font-size: 200%;
        }

        p {
            font-size: 120%;
            margin-top: 4rem;
            // width: 90%;
        }

        .btn {
            margin-top: 0rem;
            color: rgb(54, 54, 219)
        }
    }
}



.footer {
    margin: 0 10rem;
    height: 20vh;
    display: flex;
    align-items: center;
    gap: 25%;
    // flex-direction: column;
    // justify-content: center;


    .icons > * {
        margin-right: 1.8rem;

        :hover {
            color: rgb(50, 50, 203);
        } 
    }

    p {
        font-size: 200%;
    }
}